.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
}

.feedback-form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.feedback-form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  min-width: 95px;
  background-color: #4e75ff;
  font: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}

input,
textarea {
  min-width: 359px;
  padding: 8px;
  font: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: black;
}

textarea:active {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

textarea {
  width: 359px;
  resize: none;
}
